


header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: orangered
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetris {
    background-color: black;
    outline: 1px solid white;
}

.nextGrid {
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 400px;
    background-color: orangered

}

.nextGrid div {
    height: 20px;
    width: 20px;
    display: flex;
    flex-wrap: wrap;
}

.container {
    display: flex;



}


