.container {
    display: flex;
    justify-content: center;
  }

  body {
    background-image: url(../assets/images/sky.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  
  .grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(24, 175, 62);
  }
  
  .grid div {
    height: 20px;
    width: 20px;
  }
  
  .tetromino {
    outline: 1px solid black;
    border-radius: 10%;


  }
  
  
  .mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(16, 139, 192);
  }
  
  .mini-grid div {
    height: 20px;
    width: 20px;
  }
